tr {
  height: 70px;
}

body {
  background: rgba(7, 126, 128, 0.3);
}

td {
  width: 300px;
  text-align: center;
  border-bottom: 2px solid black;
}

table {

  margin-top: 20px;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}